---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Privacy Policy';
const description = 'Cylamen Press privacy policy';
const permalink = `${Astro.site.href}privacy`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="privacy">
  <div class="container">
    <h1>Privacy Policy</h1>
    
    <p>Irure voluptate anim fugiat culpa deserunt officia reprehenderit nostrud exercitation est. Sunt est amet ullamco ut in. Esse aute ullamco qui cupidatat in nulla. Est et ut culpa Lorem minim eiusmod nulla ipsum commodo do do. 
        Elit fugiat aliqua in consequat qui ut reprehenderit Lorem mollit laborum duis commodo. 
        Consequat duis nulla consequat non sunt irure est consequat pariatur cillum officia ex exercitation.</p>
        
        <p>Cenctetur mollit esse anim ex minim est consectetur. Laboris sint dolore reprehenderit occaecat. Ea consequat culpa voluptate officia voluptate aliqua reprehenderit dolore sunt anim voluptate nulla.</p>

        <p>Cupidatat tempor adipisicing exercitation aliqua sunt minim ex proident est. Proident ad laborum ut voluptate mollit do eu enim cillum pariatur laboris. Irure ullamco et veniam velit sint esse et minim. Non veniam anim irure do id id qui id tempor incididunt veniam magna ea aliquip.</p>

        <p>Nulla deserunt commodo eiusmod officia enim officia cillum laborum dolore est nostrud ex culpa. Nostrud do ad Lorem consequat culpa. Est consectetur in culpa amet sit excepteur nostrud aliquip. Qui fugiat excepteur consequat proident est nisi veniam occaecat reprehenderit. Minim quis incididunt anim eu occaecat et consequat eu commodo ullamco excepteur</p>

  </div>
</BaseLayout>

