<div>
  <img src="/assets/Marcia_2024.webp" alt="Headshot of Marcia Pearson">
  <p>
    Hi, I'm <strong>Marcia</strong>. I aim to be constantly curious about the world and how
    to improve my place in that world. I constantly strive to improve my nutritiion, health status,
    and self-care.  The (evolving) result of this is Cyclamen Press, where I share
    my discoveries with you.
    </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
